:root{
    --cor-fundo:#383D58;
    --cor-fontes:#ffffff;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 70%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 90px;
    font-size: 24px;
}