:root{
    --cor-fundo:#383D58;
    --cor-fontes:#ffffff;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
}
.imagem-cabecalho{
    width: 45%;
}